<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>Dearborn Coding Club</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load static %}
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
  </head>
  <body>
    {% load static %}
    <img id="logo-image" src="{% static 'dccdesign1.svg' %}" alt="My image">
    {% block content %}
    {% endblock %}
  </body>
</html>
